//@import '../node_modules/amis-ui/scss/functions.scss';
//@import '../node_modules/amis-ui/scss/_variables.scss';
$colors: (
  black: #000,
  white: #fff,
  primary: #007bff,
  secondary: #6c757d,
  success: #28a745,
  info: #007bff,
  warning: #fad733,
  danger: #dc3545,
  light: #f8f9fa,
  dark: #343a40,
  gray: (
    50: #f9fafb,
    100: #f3f4f6,
    200: #e5e7eb,
    300: #d1d5db,
    400: #9ca3af,
    500: #6b7280,
    600: #4b5563,
    700: #374151,
    800: #1f2937,
    900: #111827,
  ),
  red: (
    50: #fef2f2,
    100: #fee2e2,
    200: #fecaca,
    300: #fca5a5,
    400: #f87171,
    500: #ef4444,
    600: #dc2626,
    700: #b91c1c,
    800: #991b1b,
    900: #7f1d1d,
  ),
  yellow: (
    50: #fffbeb,
    100: #fef3c7,
    200: #fde68a,
    300: #fcd34d,
    400: #fbbf24,
    500: #f59e0b,
    600: #d97706,
    700: #b45309,
    800: #92400e,
    900: #78350f,
  ),
  green: (
    50: #ecfdf5,
    100: #d1fae5,
    200: #a7f3d0,
    300: #6ee7b7,
    400: #34d399,
    500: #10b981,
    600: #059669,
    700: #047857,
    800: #065f46,
    900: #064e3b,
  ),
  blue: (
    50: #eff6ff,
    100: #dbeafe,
    200: #bfdbfe,
    300: #93c5fd,
    400: #60a5fa,
    500: #3b82f6,
    600: #2563eb,
    700: #1d4ed8,
    800: #1e40af,
    900: #1e3a8a,
  ),
  cyan: (
    50: #ecfeff,
    100: #cffafe,
    200: #a5f3fc,
    300: #67e8f9,
    400: #22d3ee,
    500: #06b6d4,
    600: #0891b2,
    700: #0e7490,
    800: #155e75,
    900: #164e63,
  ),
  indigo: (
    50: #eef2ff,
    100: #e0e7ff,
    200: #c7d2fe,
    300: #a5b4fc,
    400: #818cf8,
    500: #6366f1,
    600: #4f46e5,
    700: #4338ca,
    800: #3730a3,
    900: #312e81,
  ),
  purple: (
    50: #f5f3ff,
    100: #ede9fe,
    200: #ddd6fe,
    300: #c4b5fd,
    400: #a78bfa,
    500: #8b5cf6,
    600: #7c3aed,
    700: #6d28d9,
    800: #5b21b6,
    900: #4c1d95,
  ),
  pink: (
    50: #fdf2f8,
    100: #fce7f3,
    200: #fbcfe8,
    300: #f9a8d4,
    400: #f472b6,
    500: #ec4899,
    600: #db2777,
    700: #be185d,
    800: #9d174d,
    900: #831843,
  ),
) !default;
$dark: map-get($colors, "dark") !default;
$editor-default-color: #151b26; // 默认的字体色
$editor-active-color: #2468f2;
$editor-hover-color: #5086f5;
$editor-border-color: #e8e9eb; // 默认的边框色
$default-icon-color: #84868c; // 默认的icon颜色

$active-bg-color: #e6f0ff; // 激活态的背景色
$hover-bg-color: #f7f7f9; // 激活态的背景色

$disabled-color: #b8babf; // 禁用文字颜色
$disabled-bg-color: #f7f7f9; // 禁用背景颜色

.page-play,
.page-edit {
  &:before {
    display: table;
    content: " ";
  }
  &:after {
    clear: both;
    display: block;
    content: "";
    height: 0;
  }
  .app-content {
    position: absolute;
    top: 50px;
    bottom: 0;
    height: auto;
    left: 0;
    right: 0;
  }
  .app-content-body {
    height: 100%;
  }
}

.Editor-Demo {
  position: relative;
  height: 100vh;
  min-height: 510px;
  display: flex;
  flex-direction: column;

  .Editor-header {
    flex: 0 0 48px;
    position: relative;
    background: #fff;
    // box-shadow: 0 2px 7px 0 rgba(232,232,232,0.50);
    display: flex;
    border-bottom: 1px solid $editor-border-color;
    box-sizing: border-box;
    z-index: 1000;

    svg {
      display: inline-block;
      width: 16px;
    }

    .Editor-title {
      flex: 1 1 565px;
      padding: 0 15px;
      font-family: PingFangSC-Medium;
      font-size: 16px;
      color: #151a26;
      font-weight: 500;
      letter-spacing: 0;
      user-select: none;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    .Editor-view-mode-group-container {
      flex: 0 1 150px;
      display: flex;
      justify-content: center;
      align-items: center;

      .Editor-view-mode-group {
        font-size: 14px;
        font-family: PingFangSC-Regular;
        // color: #fff;
        letter-spacing: 0;
        text-align: center;
        width: 100px;
        height: 32px;
        border-radius: 4px;
        font-weight: 400;
        background-color: #f2f2f4;

        display: flex;
        justify-content: center;
        align-items: center;

        .Editor-view-mode-btn {
          user-select: none;
          padding: 0;
          border-radius: 4px;
          width: 40px;
          height: 24px;
          cursor: pointer;
          transition: transform ease-out 0.2s;
          display: inline-flex;
          justify-content: center;
          align-items: center;

          &:hover {
            background-color: #f2f2f4;
          }

          svg {
            color: $editor-default-color;
          }

          &:first-child {
            margin-right: 12px;
          }

          &:hover > svg {
            color: $editor-active-color;
          }

          &.is-active {
            background: $editor-active-color;

            svg {
              color: #fff;
            }

            &:hover {
              background: #5086f5;
            }
          }
        }
      }
    }

    .Editor-header-actions {
      flex: 1 1 565px;
      padding: 0 24px;
      font-size: 12px;
      white-space: nowrap;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .header-action-item {
        margin-left: 18px;
        user-select: none;
        cursor: pointer;
        transition: transform ease-out 0.2s;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        > svg {
          width: 16px;
          height: 16px;
          fill: $editor-default-color;
        }

        &:hover > svg {
          fill: $editor-active-color;
        }

        &.disabled {
          cursor: not-allowed;

          > svg {
            fill: $disabled-color;
          }
        }

        // 历史记录icon单独处理
        > svg.icon-editor-history {
          color: $editor-default-color;

          &:hover {
            color: $editor-active-color;
          }

          &.disabled,
          &.disabled:hover {
            cursor: not-allowed;
            color: $disabled-color;
          }
        }
      }

      .header-action-btn {
        margin-left: 8px;
        user-select: none;
        cursor: pointer;
        padding: 0 16px;
        min-width: 72px;
        height: 32px;
        font-family: PingFangSC-Regular;
        font-size: 12px;
        line-height: 20px;
        color: #fff;
        font-weight: 400;
        background: $editor-active-color;
        border-color: 1px solid $editor-active-color;
        border-radius: 4px;
        transition: transform ease-out 0.2s;
        display: inline-flex;
        justify-content: center;
        align-items: center;

        &.preview-btn {
          color: #151a26;
          border: 1px solid #dadbdd;
          background: #fff;
          border-radius: 4px;

          &:hover {
            color: $editor-active-color;
            border-color: $editor-active-color;
            background: #fff;
          }
        }

        &:hover {
          color: #fff;
          background: $editor-hover-color;
          border-color: $editor-hover-color;
        }

        &.disabled {
          cursor: not-allowed;
          color: $disabled-color;
          background-color: $disabled-bg-color;
          border-color: $disabled-bg-color;
        }
      }

      .margin-left-space {
        margin-left: 136px;
      }
    }
  }
  .Editor-inner {
    position: relative;
    flex: 1 1 auto;
    overflow-x: hidden;
    overflow-y: auto;
  }
}

.resizer {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-left: -2px;
  width: 4px;
  background: lighten($dark, 20%);
  z-index: 1;
  cursor: col-resize;

  &:hover {
    background: $dark;
  }
}

// 修正被影响的样式
.editor-left-panel .editorPanel-tabs .editor-tab-icon > svg {
  width: 42px !important;
  height: 42px !important;
}
.ae-Breadcrumb .ae-Breadcrumb-content > ul > li > span {
  line-height: 42px !important;
}
